<template name="header">
<!-- Bootstrap core CSS, JS dependancies included in Meteor Bootstrap package -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Navbar shows up on every page -->
<div class="nav-wrapper">
  <nav class="flex-nav nav-grad navbar-fixed-top">
    <ul>
      <li><a href="{{pathFor 'landingPage'}}" id="navHome">Home</a></li>
      {{#if currentUser}}
        <li><a href="{{pathFor 'environmentList'}}" id="navEnv" class={{popover1}}>Environments</a></li>
        <li><a href="{{pathFor 'viewData'}}" >Analysis</a></li>
        <script>
          var obj = Environments.find({}).fetch();
          if ($.isEmptyObject(obj)) {
            $('[data-toggle="popover1"]').popover('show').on('click',function(){ $(this).popover('hide')});
          }
        </script>
      {{/if}}
      <li>{{> loginButtons}}</li>
    </ul>
  </nav>
</div>
</template>
