<template name="header">
<!-- Bootstrap core CSS, JS dependancies included in Meteor Bootstrap package -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Navbar shows up on every page -->
<div class="nav-wrapper">
  <nav class="flex-nav nav-grad navbar-fixed-top">
    <ul>
      <li><a href="{{pathFor 'landingPage'}}">Home</a></li>
      {{#if currentUser}}
        <li><a href="{{pathFor 'environmentList'}}" id="navEnv" data-toggle="popover1" data-content="Since this is your first time using EQUIP, this walkthrough will guide you EQUIP's main features. Create an environment to get started." data-placement="bottom">Environments</a></li>
        <li><a href="{{pathFor 'viewData'}}"  data-toggle="popover9" data-content="Click on a subject to record your custom data. Once you've recorded data and created a sequence, you can view and delete the sequence, or click 'View Data' to export your sequences as a CSV. This is the end of the EQUIP walkthrough." data-placement="bottom">View Data</a></li>
      {{/if}}
      <li>{{> loginButtons}}</li>
    </ul>
  </nav>
</div>
</template>
