<template name="viewData">
  <div id="container" class="container-fluid top-spacer card">
    <h1 id="viewDataTitle">View Data</h1>
    <div class="alert-custom-info" role="alert">
      Here you can visualize your data and export it as a CSV.
    </div>
    <div class="row">
       <div class="col-md-4">
        <h3>Select Environment</h3>
        <select id="selectEnvironment" class="form-control">
          {{#each environment}}
            <option value="{{envName}}">{{envName}}</option>
          {{/each}}
          <option value="all">All</option>
        </select>
      </div>
      <div class="col-md-4">
        <h3>Student Characteristic</h3>
        <select id="studentCharSelect" class="form-control">
          <option value="subjAge">Age</option>
          <option value="subjGender">Gender</option>
          <option value="subjRace">Race</option>
        </select>
      </div>
      <div class="col-md-4">
        <h3>Sequence Characteristic</h3>
        <select id="sequenceCharSelect" class="form-control">
          <option value="wcdType">WCD Type</option>
          <option value="solicitationMethod">Solicitation Method</option>
          <option value="waitTime">Wait Time</option>
          <option value="lengthOfTalk">Length of Talk</option>
          <option value="studentTalk">Student Talk</option>
          <option value="teacherSolicitation">Teacher Solicitation</option>
          <option value="explicitEvaluation">Explicit Evaluation</option>
        </select>
      </div>
    </div>
    <br>
    <div>
        <button type="button" id="graph_button" class="btn btn-info">Graph</button> <button type="button" id="export_CSV_button" class="btn btn-warning">Export CSV</button>
    </div>
    <input type="checkbox" id="graph_standard">Standard
    <input type="checkbox" id="graph_demographic">Demographic
    <input type="checkbox" id="graph_equity">Equity
    <div id="graph_container"></div>
  </div>
</template>
