<template name="sequenceParameters">
  <div id="container" class="container-fluid top-spacer card">

      <h3>
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left seqParamsGoBack"></button> Sequence Parameters for Environment: {{#each environment}}{{envName}}{{/each}}
      </h3>
    <div class="alert-custom-sequence-params" role="alert">
      Next, add sequence parameters for your observations. Parameter values are separated by commas. Load defaults for examples.
    </div>
    <div>
        <button type="button" id="load_default_sequence_params" class="btn btn-primary">Load Defaults</button>
        <button type="button" id="add_sequence_params" class="btn btn-success">+</button>
    </div>
    <br>
    <div id="formSection">
      <form id="formRow">
      </form>
    </div>
    <div class="modal-footer" onKeyPress="return checkSubmit(event)">
      <button type="button" id="remove_all" class="btn btn-default" data-dismiss="modal">Remove All</button>
      <button type="button" class="btn btn-primary" id="save_seq_all">Save All</button>
    </div>
  </div>
</template>
