<!-- HTML for subject parameters setup page -->

<template name="subjectParameters">
  <div id="container" class="container-fluid top-spacer card">
      <h3>
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left subjParamsGoBack"></button> Subject Parameters for Environment: {{#each environment}}{{envName}}{{/each}}
      </h3>
    <div>
        <button type="button" id="load_default_subject_params" class="btn btn-primary"  data-toggle="popover3" data-content="Subject parameters allow you to track the demographics of your subjects. Load defaults to see how any subject characteristic can be added to your dataset with a parameter name and comma separated values as possible inputs. Click the '+' to add custom parameters. Click 'Next' to continue." data-placement="bottom">Load Defaults</button>
        <button type="button" id="add_subject_params" class="btn btn-success">+</button>
    </div>
    <br>
    <div id="formSection">
      <form id="formRow">
      </form>
    </div>
    <div class="modal-footer" onKeyPress="return checkSubmit(event)">
      <button type="button" id="remove_all" class="btn btn-default" data-dismiss="modal">Remove All</button>
      <button type="button" class="btn btn-primary" id="save_subj_all">Next</button>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80377470-1', 'auto');
  ga('send', 'pageview');
  </script>
  <br>
</template>
