<template name="subjectParameters">
  <div id="container" class="container-fluid top-spacer card">
      <h3>
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left subjParamsGoBack"></button> Subject Parameters for Environment: {{#each environment}}{{envName}}{{/each}}
      </h3>
    <div class="alert-custom-info" role="alert">
      First, add parameters for your subjects. Parameter values are separated by commas. Load defaults for examples.
    </div>
    <div>
        <button type="button" id="load_default_subject_params" class="btn btn-primary">Load Defaults</button>
        <button type="button" id="add_subject_params" class="btn btn-success">+</button>
    </div>
    <br>
    <div id="formSection">
      <form id="formRow">
      </form>
    </div>
    <div class="modal-footer" onKeyPress="return checkSubmit(event)">
      <button type="button" id="remove_all" class="btn btn-default" data-dismiss="modal">Remove All</button>
      <button type="button" class="btn btn-primary" id="save_subj_all">Save All</button>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80377470-1', 'auto');
  ga('send', 'pageview');
  </script>
  <br>
</template>
