<template name="landingPage">
  <div class="jumbotron jumbotron-landing-page">
    <div class="container">
      <h1>Welcome to EQUIP!</h1>
      <p>A data observation interface for behavioral environments.</p>
      <p><a class="btn btn-primary btn-lg" href="#" data-action="signUp" type="button">Get Started &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Observational Data</h2>
        <p>
          Lorem ipsum dolor sit amet, eos no aeque decore integre, vocent pertinax in vel. Ex epicurei oportere repudiandae his, atqui civibus pro in, vel deserunt eleifend cu. Est quot copiosae ea. No ius dicta scaevola.
        </p>
      </div>
      <div class="col-md-4">
        <h2>EQUIP</h2>
        <p>
          Lorem ipsum dolor sit amet, eos no aeque decore integre, vocent pertinax in vel. Ex epicurei oportere repudiandae his, atqui civibus pro in, vel deserunt eleifend cu. Est quot copiosae ea. No ius dicta scaevola.
        </p>
     </div>
      <div class="col-md-4">
        <h2>Analytics</h2>
        <p>
          Lorem ipsum dolor sit amet, eos no aeque decore integre, vocent pertinax in vel. Ex epicurei oportere repudiandae his, atqui civibus pro in, vel deserunt eleifend cu. Est quot copiosae ea. No ius dicta scaevola.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <hr>
    <footer>
      <div class="footer-image">
        <img src="equipBlackText.png" alt="EQUIP"  height="80" width="125">
        <p>
          &copy; EQUIP 2016
          <br>
          EQUIP is an open-source project avaliable on
          <a href="https://github.com/simmeringc/meteor-dataObs">Github</a>
        </p>
      </div>
    </footer>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>
