<template name="landingPage">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to DataObs!</h1>
      <p>A unique data observations interface for any kind of environment you'll ever need.</p>
      <p><a class="btn btn-primary btn-lg" href="#" data-action="signUp" type="button">Sign up &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Data Science</h2>
        <p>Computing power is a key to the future of technology and allows access to the impossible. Our interface is easily utilized by anyone who knows how to use a computer and helps to gather any data they like!</p>
        <p><a class="btn btn-default" href="#" role="button">Computational Power &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Educational</h2>
        <p>Targeted towards observing classrooms at any school, we can help teachers gain knowledgable insights on how to improve methods of guiding their students to infinite success.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Visual Analytics</h2>
        <p>Having the ability to see the results of your observations immediately is our goal! One can simply graph their findings in any way they desire, providing easy to read and visually pleasing represenations of any abstract figures. </p>
        <p><a class="btn btn-default" href="#" role="button">See Examples &raquo;</a></p>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; 2016 DataObs </p>
    </footer>
  </div>
</template>
