<template name="landingPage">
  <div class="jumbotron jumbotron-landing-page">
    <div class="container">
      <h1>Welcome to EQUIP!</h1>
      <p>A data observation interface for behavioral environments.</p>
      <p><a class="btn btn-primary btn-lg" href="#" id="feedbackBtn" type="button">Contact <i class="fa fa-send-o" aria-hidden="true"></i></a> <a class="btn btn-primary btn-lg" href="#" data-action="signUp" type="button">Get Started <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Contact Us</h4>
        </div>
        <div class="modal-body modal-cf-center">
          <div class="control" id="parameter_modal">
            <form class="feedback-form" method="POST" action="#" accept-charset="UTF-8">
              <p><label>Your Name<strong>*</strong><br>
              <input type="text" autofocus required size="48" id="nameCF" name="name" value=""></label></p>
              <p><label>Email Address<strong>*</strong><br>
              <input type="email" id="emailCF" required title="Please enter a valid email address" size="48" name="email" value=""></label></p>
              <p><label>Subject<br>
              <input type="text" size="48" id="subjectCF" name="subject" value=""></label></p>
              <p><label>Enquiry / Feedback<strong>*</strong><br>
              <textarea required name="message" id="textCF" cols="48" rows="8"></textarea></label></p>
            </form>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-primary" id="sendFeedback">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Observational Data</h2>
        <p>
          EQUIP is designed for collecting observational data in classrooms. EQUIP features custom input parameters as well as a visualized subject environment in order to streamline behavioral experiments.
        </p>
      </div>
      <div class="col-md-4">
        <h2>EQUIP</h2>
        <p>
          EQUIP stands for 'Equity Quantified in Participation'. The EQUIP tool was created to assist classroom observations and is designed to support researchers in tracking behavioral data.
        </p>
     </div>
      <div class="col-md-4">
        <h2>Analytics</h2>
        <p>
          EQUIP lets you view your data or export it as a CSV so that you can quantify your results with custom codes.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <hr>
    <footer>
      <div class="footer-image">
        <img src="equipBlackText.png" alt="EQUIP"  height="80" width="125">
        <p>
          &copy; EQUIP 2016
          <br>
          EQUIP is an open-source project avaliable on
          <a href="https://github.com/simmeringc/meteor-dataObs">Github</a>
        </p>
      </div>
    </footer>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>
