<template name="about">
  <div class="jumbotron">
    <div class="container">
      <h1 align = "center">About Us</h1>
      <p>Who We Are</p>
    </div>
    <h3 style="font-size:40px" align = "center" font-color ="black" padding-top = "10px">A group of friends from the University of Colorado at Boulder pursuing computer science. Our interests vary from mobile development to the depths of data science. </h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" align="left">
        <h2>Justin Olson</h2>
        <p></p>
        <p></p>
      </div>
      <div class="col-md-4" align="center">
        <h2>Conner Simmering</h2>
        <p></p>
        <p></p>
     </div>
      <div class="col-md-4" align="right">
        <h2>Jesse Bird</h2>
        <p></p>
        <p></p>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; 2016 DataObs </p>
    </footer>
  </div>
</template>
