<template name="observationEnvironmentItem">
  <div class="modal fade" id="createObsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Observation</h4>
        </div>
        <div class="modal-body">
          <div class="controls">
              <input name="nameOfObservation"  type="text" value="" id="obsName" placeholder="Name Your Observation Here" class="form-control" data-toggle="popover6" data-content="Example Environment Names: 'Finals Week', Substitute Teacher Day', 'Session 1'." data-placement="bottom"/>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveName" >Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-custom-envItem">
    <div>{{envName}}</div>
    <div>Created On: {{submitted}}</div>
      {{#if needsSetup}}
        <button type="button" class="btn blue-pulse subjectParameters editObsItem">Add Subjects</button>
      {{else}}
        <button type="button" class="btn btn-success {{needsObservations}}" id="createNewObservation" data-toggle="popover6" data-content="Observations represent the specific session in which an observation is taking place in an environment." data-placement="bottom">New Observation</button>
        <button type="button" class="btn btn-default allSequences">All Sequences</button>
        <button type="button" class="btn btn-default editObsItem">Edit Subjects</button>
      {{/if}}
  </div>
  <div class="modal fade" id="allSequencesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-large" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence Information for '{{envName}}' Environment</h4>
        </div>
        <div class="modal-body">
          {{>sequenceEnvironmentTableItem}}
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-primary" id="saveAllSequences">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
