<template name="environmentObsItem">
  <div class="modal fade" id="createObsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Observation</h4>
        </div>
        <div class="modal-body">
          <div class="controls">
              <input name="nameOfObservation"  type="text" value="" id="obsName" placeholder="Name Your Observation Here" class="form-control"/>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveName" >Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-custom-envItem">
    <div>{{envName}}</div>
    <div>Created On: {{submitted}}</div>
      <button type="button" class="btn btn-default editObsItem">Edit Spec</button>
      <button type="button" class="btn btn-default allSequences">All Sequences</button>
      <button type="button" class="btn btn-success" id="createNewObservation">New Observation</button>
  </div>
  <div class="modal fade" id="allSequencesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-large" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence Information for '{{envName}}' Environment</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-striped table-sm table-bordered ftable">
            <thead>
              <tr class="ftable_head">
                <td>#</td>
                <td>SubjName</td>
                <td>WCD Type</td>
                <td>Solicitation Method</td>
                <td>Wait Time</td>
                <td>Length of Talk</td>
                <td>Student Talk</td>
                <td>Teacher Soliciation</td>
                <td>Explicit Evaluation</td>
                <td>Observation</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {{#each envSequence}}
                <tr>
                  <td>{{emptyChild}}</td>
                  <td>{{subjName}}</td>
                  <td>{{wcdTypeLiteral}}</td>
                  <td>{{solicitationMethodLiteral}}</td>
                  <td>{{waitTimeLiteral}}</td>
                  <td>{{lengthOfTalkLiteral}}</td>
                  <td>{{studentTalkLiteral}}</td>
                  <td>{{teacherSolicitationLiteral}}</td>
                  <td>{{explicitEvaluationLiteral}}</td>
                  <td>{{obsName}}</td>
                  <td><button type="button" class="btn btn-xs btn-danger deleteSequence">X</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveAllSequences">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
