<template name="observationList">
  <div id="container" class="container-fluid top-spacer card">
    <h1>Observations for Environment: {{nameOfEnvironment}}</h1>
    <div class="alert-custom-obsInfo" role="alert">
      These are your observations for this environment. You can create, view, or delete them.
    </div>
    <div>
      {{#each environment}}
        {{> environmentObsItem}}
      {{/each}}
    </div>
    {{#contentFor "observation"}}
    <div>
      {{#each observation}}
        {{> observationItem}}
      {{/each}}
    </div>
    {{/contentFor}}
  </div>
</template>
