<template name="observationList">
  <div id="container" class="container-fluid top-spacer card">
    <h3><button type="button" class="btn btn-default glyphicon glyphicon-arrow-left obsGoBack"></button> Observations for Environment: {{envName}}</h3>
    <div class="alert-custom-obsInfo" role="alert">
      These are your observations for this environment. You can create, view, or delete them.
    </div>
    <div>
      {{> observationEnvironmentItem}}
    </div>
    <div>
      {{#each observation}}
        {{> observationItem}}
      {{/each}}
    </div>
  </div>
</template>
