<!-- HTML for observation item on the observation list -->

<template name="observationItem">
  <div class="alert-custom-obsItem">
    <div>{{name}}</div>
    <div>
      Created On: {{submitted}}&nbsp;&nbsp;<button type="button" class="btn btn-default enterObsItem preform-obs-btn {{needsSequences}}" data-toggle="popover7" data-content="Click 'Preform Observation', then click on your subjects to record an observation related to the specific subject." data-placement="bottom">Perform Observation</button>
      <button type="button" class="btn btn-xs obs-delete-btn  deleteObsItem">X</button>
    </div>
  </div>
</template>
