<template name="environmentObsItem">
  <div class="modal fade" id="createObsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Observation</h4>
        </div>
        <div class="modal-body">
          <div class="controls">
              <input name="nameOfObservation"  type="text" value="" id="obsName" placeholder="Name Your Observation Here" class="form-control"/>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveName" >Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-custom-envItem">
    <div>{{envName}}</div>
    <div>Created On: {{submitted}}</div>
      <button type="button" class="btn btn-warning editObsItem">Edit Spec</button>
      <button type="button" class="btn btn-warning obsGoBack">Go Back</button>
      <button type="button" class="btn btn-success" id="createNewObservation">New Observation</button>
  </div>
</template>
