<template name="environmentList">
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <div id="container" class="container-fluid top-spacer card">
        <h1>Saved Environments
           <button type="button" id="add_env" class="btn btn-success createNewEnvironment">Create</button>
        </h1>
      <div class="alert-custom" role="alert">
        These are your saved environments. You can create, view, or delete them.
      </div>
      <div>
        {{#each environment}}
          {{> environmentItem}}
        {{/each}}
      </div>
    </div>
  </body>
</template>
