<template name="environmentList">
    <div id="container" class="container-fluid top-spacer card">
        <h1>Saved Environments
           <button type="button" class="btn btn-success createNewEnvironment" data-toggle="modal" data-target="#createEnvPopup">Create</button>
        </h1>
        <div class="modal fade" id="createEnvPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Environment</h4>
              </div>
              <div class="modal-body">
                <div class="controls">
                    <input name="nameOfEnvironment"  type="text" value="" id="environmentName" placeholder="Name Your Environment Here" class="form-control"/>
                </div>
              </div>
              <div class="modal-footer" onKeyPress="return checkSubmit(event)">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveName">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
      <div class="alert-custom-info" role="alert">
        These are your saved environments. You can create, view, or delete them.
      </div>
      <div>
        {{#each environment}}
          {{> environmentItem}}
        {{/each}}
      </div>
    </div>
</template>
