<!-- HTML for environment items in the environment list -->

<template name="environmentItem">
  <div class="alert-custom-envItem">
    <div>
      <div>
      {{envName}}
      <button type="button" class="btn deleteEnvironment float-edits btn-xs env-delete-btn">X</button>
      </div>
    </div>
    <div>Created On: {{submitted}}</div>
      {{#if needsSetup}}
        <button type="button" class="btn blue-pulse subjectParameters">Setup Parameters</button>
      {{else}}
        <button type="button" class="btn btn-default viewEnvItem {{needsSubjects}}">Enter Observatory</button>
        <button type="button" class="btn btn-default editParameters">Edit Parameters</button>
      {{/if}}
  </div>
</template>
