<template name="environmentCreate">
  <form class="main form page top-spacer card">
    <div class="form-group">
      <label class="control-label" for="url">Name</label>
      <div class="controls">
          <input name="nameOfEnvironment" id="nameOfEnvironment" type="text" value="" placeholder="Name of the Environment" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">How many subjects?</label>
      <div class="controls">
          <input name="numberOfSubjects" id="numberOfSubjects" type="text" value="" placeholder="Number of subjects to observe" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
