<template name="environmentItem">
  <div class="alert-custom">
    <div>{{nameOfEnvironment}}</div>
    <div>Created On: {{submitted}}</div>
      <button type="button" class="btn btn-warning editObsItem">Edit Spec</button>
      <button type="button" class="btn btn-warning viewObsItem">View Observations</button>
      <button type="button" class="btn btn-warning newObs">New Enviornment</button>
      <button type="button" class="btn btn-danger deleteEnvironement">X</button>
  </div>
</template>
