<template name="observatory">
  <div id="container" class="container-fluid top-spacer card">
    <h4>
      <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left obsDone"></button>
       Observatory: <i>{{name}}</i>
      <button type="button" class="btn btn-default editSequences">View Sequences</button>
      <div style="float:right;cursor:default;" class="unselectable">Input Style:<br>
        <form>
          <div style="float:right;font-size:12px">
            <input id="selectStyle" class="input-style" type="radio" name="input-style" value="select"> Select<br>
          </div>
          <div style="float:right;font-size:12px">
            <input id="boxStyle" class="input-style" type="radio" name="input-style" value="box"> Box <br>
          </div>
        </form>
      </div>
    </h4>
  </div>
  <div class="modal fade" id="createBoxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
       <div class="modal-dialog vertical-align-center">
        <div class="modal-dialog" role="document">
          <div class="modal-content seq-modal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Sequence</h4>
            </div>
            <div class="modal-body">
              <div class="control" id=sequence_modal>
                {{> sequenceFlexButtons}}
              </div>
            </div>
            <div class="modal-footer" onKeyPress="return checkSubmit(event)">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveSequenceBox">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createSelectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence</h4>
        </div>
        <div class="modal-body">
          <div class="control" id=sequence_modal>
            {{> sequenceParameterItem}}
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveSequenceSelect">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editSequencesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-large" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence Information for '{{name}}' Observation</h4>
        </div>
        <div class="modal-body">
          {{>sequenceObservatoryTableItem}}
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-primary" id="saveSequenceEdits">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{#each subject}}
      {{> subjectItem}}
    {{/each}}
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80377470-1', 'auto');
  ga('send', 'pageview');
  </script>
</template>
