<template name="observatory">
  <div id="container" class="container-fluid top-spacer card">
    <h4>
      <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left obsDone"></button>
       Observatory: <i>{{name}}</i>
       <button type="button" class="btn btn-default editSequences">Edit Sequences</button>
    </h4>
  </div>
  <div class="modal fade" id="createSequence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content seq-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence</h4>
        </div>
        <div class="modal-body">
          <div class="control" id=sequence_modal>
            {{> sequenceFlexButtons}}
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveSequence">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editSequencesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-large" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sequence Information for '{{name}}' Observation</h4>
        </div>
        <div class="modal-body">
          <div class="alert-danger bug" role="alert">
            Delete sequence button bugged.
          </div>
          {{>sequenceObservatoryTableItem}}
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-primary" id="saveSequenceEdits">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{#each subject}}
      {{> subjectItem}}
    {{/each}}
  </div>
</template>
