/*
* CSS for box-selection bodal when taking sequences
*/

.seq-modal {
  background: #696969;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  .modal-header {
    // border-bottom: 0px;
    border-bottom-color: #444;
  }
  .modal-footer {
    // border-top: 0px;
    border-top-color: #444;
  }
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.pointer-cursor {
   cursor: pointer;
}

.button-area {
  flex-wrap: wrap;
  justify-content: center;
}

.button-area-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex: 1;
  a {
    background: #444;
    padding: 1em;
    font-size: .9em;
    margin: .1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    width: 70%;
    align-items:center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  span {
    display: block;
    flex:1;
    text-align: center;
  }
}

.button-area-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: auto;
}

.column-divs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  height: 60%;
  flex: 1;
  a {
    padding: 1em;
    font-size: .9em;
    margin: .1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    width: 50%;
    align-items:center;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  span {
    display: block;
    flex:1;
    text-align: center;
  }
}

.seq-label {
    border: 1px solid #ffbf00;
    border-radius: 7px;
}

/* Grow */
.selectable {
  background: #214777;
  border: 1px solid #dadada;
  border-radius: 7px;
  display: inline-block;
  transition: color 0.7s;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.selectable:hover, .selectable:focus, .selectable:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.deselectable {
    background: #5bc0de;
    border: 1px solid #dadada;
    border-radius: 7px;
    display: inline-block;
    transition: color 0.7s;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.deselectable:hover, .deselectable:focus, .deselectable:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
