.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

  /*Begin table row numbering*/
  .ftable {
      counter-reset: rowNumber;
  }

  .ftable tr:not(.ftable_head) {
      counter-increment: rowNumber;
  }

  .ftable tr:not(.ftable_head) td:first-child::before {
      content: counter(rowNumber);
      min-width: 1em;
      margin-right: 0.5em;
  }
  /*End table row numbering*/

body {
  background: #eee;
  color: #666666;
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  padding-bottom: 20px;
}

.top-spacer{
  margin-top: 20px;
}

.card {
  	background: #FFFFFF;
  	box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

/* interactJS Start */
.subject {border-style:solid;
      border-color:black;
      padding: 10px 10px 10px 10px;
      margin:25px 25px 25px 25px;
      background-color:#b19cd9;
      font-size:150%;
      height:75px;
      width:75px;
      }
#drag-1, #drag-2 {
      min-height: 6.5em;
      border-radius: 0.75em;
-webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
      }
 #drag-me::before {
      content: "#" attr(id);
      font-weight: bold;
   }
/* interactJS End */


/* custom container size for environemnt page */
@media (min-width:992px)
    {
        .container{width:960px}
    }
@media (min-width:1200px)
    {
        .container{width:960px}
    }

.alert-custom-info{
    padding: 8px 35px 8px 14px;
    width: 57%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-viewData{
    padding: 8px 35px 8px 14px;
    width: 35%;
    margin-bottom: 5px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-viewDataGraphOptions{
    padding: 3px 35px 3px 14px;
    width: 23%;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-envItem{
    padding: 8px 35px 8px 14px;
    width: 57%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-obsItem{
    padding: 8px 35px 8px 14px;
    width: 66.5%;
    margin-bottom: 18px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-obsInfo{
    padding: 8px 35px 8px 14px;
    width: 67%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
