<template name="whatIsDataObs">
  <div class="jumbotron">
    <div class="container">
      <h1>What is DataObs?</h1>
      <p>A web app interface for easily recording observational research.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row-md-4">
        <h2>Accomplished to Date</h2>
        <p>To date, we have been able to successfully create our website with the basic setup of how we wanted to crossreference buttons and other links between the pages. We set up users who have their own environments,
          environments have their own observations pages, where you can access all previously recorded data, graphs and so on. We have an example of what the drag and drop interface would look like if it was fully completed.
          We have a collection of Mongo databases that allow us to access different users, their environments, their observations, and some sample data. We have been using a top of the line reactive web platform called meteor
          which lets you write apps in 100% javascript. It has allowed us to deploy on iOS and Android instances to see how it looks on a mobile device along with the deployment on the web. Overall, we are extremely pleased
        with what we have accomplished and look forawrd to continue to work on this project even further. </p>
      </div>
      <div class="row-md-4">
        <h2>Future Vision</h2>
        <p>Our goals in the future are to create a fully customizable palette where you can go into any classroom, access the observatory, drag and drop shapes representing people in a classroom.
          You could then have a third party person sitting in the classroom, or whatever the event is, taking down any kind of information they or a company would liek to know. This data could then be
          exported through a system and be visualized through graphs or practically any chart with something like the use of Two Sigma Beaker. The data would all be put into MongoDB collections to be
          stored and then accessed when you wanted to retrieve the information. For example, you could have another teacher sitting in on a classroom at a school taking observations on students like;
          how long their hand was raised, what did they talk about, the students demographics, and any infinite number of questions you would like to conduct research for. This data could all be assembled
          through our drap and drop interface and then exported to a graph to say see what percentage of Native American students had their questions answered in a timely manner. This data could be proven
        extremely useful to anyone in the world of data science, or just in general, anyone interesed in observing.</p>
     </div>
    </div>
    <hr>
    <footer>
      <p>&copy; 2016 DataObs </p>
    </footer>
  </div>
</template>
