<template name="editSpec">
  <div id="container" class="container-fluid top-spacer card">
      <h4 id="control_bar">
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left" id="esGoBack"></button>
         Edit Spec: <i>{{envName}}</i>
         <button type="button" class="btn btn-success" id="createNewSubject">+</button>
        <button type="button" class="btn btn-default"     id="editCharacteristics">Edit Characteristics</button>
         <button type="button" class="btn btn-default" id="editSubjects">Edit Subjects</button>
         <button type="button" class="btn btn-default" id="moveSubjects">Move Subjects</button>
      </h4>
  </div>
  <div class="modal fade" id="createSubjPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Subject Information</h4>
        </div>
        <div class="modal-body">
          <div class="control">
            <div class="wrapper">
              <nav class="flex-nav">
                <button type="button" class="btn btn-warning" id="moveSubjects">Move Subjects</button>
                <button type="button" class="btn btn-warning" id="moveSubjects">Move Subjects</button>
                <button type="button" class="btn btn-warning" id="moveSubjects">Move Subjects</button>
              </nav>
            </div>
          </div>
        </div>
        <style>
        .wrapper {
          max-width: 1000px;
          margin: 0 auto;
          padding:50px;
        }

        /* Flex Box Starts Here! */


        /* Flex Container */
        .flex-nav ul {
          border:1px solid black;
          list-style: none;
          margin: 0;
          padding: 0;
          display:flex;
        }

        /* Flex Item */
        .flex-nav li {
          flex:3;
        }

        .flex-nav .social {
          flex:1;
        }


        @media all and (max-width:1000px) {

          .flex-nav ul {
            flex-wrap:wrap;
          }

          .flex-nav li {
            flex:1 1 50%;
          }

          .flex-nav .social {
            flex:1 1 25%;
          }

        }

        @media all and (max-width:500px) {

          .flex-nav li {
            flex-basis:100%;
          }

        }
        </style>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveName">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createCharPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Subject Characteristics</h4>
        </div>
        <div class="modal-body">
          <div class="control">
            <div class="wrapper">
              <nav class="flex-nav">
                <p> Insert stuff </p>
              </nav>
            </div>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveChars">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editSubjPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Subject Information</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-striped table-sm table-bordered ftable">
            <thead>
              <tr class="ftable_head">
                <td>#</td>
                <td>Name</td>
                <td>Age</td>
                <td>Gender</td>
                <td>Race</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {{#each subject}}
                <tr>
                  <td>{{emptyChild}}</td>
                  <td>{{subjName}}</td>
                  <td>
                    {{#if _0_10 subjAge}}0-10{{/if}}
                    {{#if _10_15 subjAge}}10-15{{/if}}
                    {{#if _15_20 subjAge}}15-20{{/if}}
                    {{#if _20_25 subjAge}}20-25{{/if}}
                    {{#if _ageUnknown subjAge}}Unknown{{/if}}
                  </td>
                  <td>
                    {{#if _male subjGender}}Male{{/if}}
                    {{#if _female subjGender}}Female{{/if}}
                    {{#if _genderOther subjGender}}Other{{/if}}
                    {{#if _genderUnknown subjGender}}Unknown{{/if}}
                  </td>
                  <td>
                    {{#if _native subjRace}}American Indian or Alaska Native{{/if}}
                    {{#if _asian subjRace}}Asian{{/if}}
                    {{#if _black subjRace}}Black or African American{{/if}}
                    {{#if _pacific subjRace}}Native Hawaiian or Other Pacific Islander{{/if}}
                    {{#if _white subjRace}}White{{/if}}
                    {{#if _latino subjRace}}Hispanic or Latino{{/if}}
                    {{#if _raceUnknown subjRace}}Unknown{{/if}}
                  </td>
                  <td><button type="button" class="btn btn-xs btn-danger deleteSubject">X</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveSubjEdits">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class=subjects>
    {{#each subject}}
      {{> subjectItem}}
    {{/each}}
  </div>
</template>
