<template name="editSpec">
  <div id="container" class="container-fluid top-spacer card">
      <h1 id="control_bar">
         <button type="button" class="btn btn-success" id="createNewSubject">+</button>
         <button type="button" class="btn btn-warning esGoBack">Go Back</button>
         <button type="button" class="btn btn-warning" id="moveSubjects">Move Subjects</button>
      </h1>
  </div>
  <div class="modal fade" id="createSubjPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Subject Information</h4>
        </div>
        <div class="modal-body">
          <div class="controls">
              <input name="nameOfSubject"  type="text" value="" id="subjectName" placeholder="Name" class="form-control"/><br>
              <input name="ageOfSubject"  type="text" value="" id="subjectAge" placeholder="Age" class="form-control"/><br>
              <input name="genderOfSubject"  type="text" value="" id="subjectGender" placeholder="Gender" class="form-control"/><br>
              <input name="raceOfSubject"  type="text" value="" id="SubjectRace" placeholder="Race" class="form-control"/>
          </div>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveName">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class=subjects>
    {{#each subject}}
      {{> subjectItem}}
    {{/each}}
  </div>
</template>
