<template name="specSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Gender</label>
      <div class="controls">
          <input name="gender" id="gender" type="text" value="" placeholder="Gender" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Age</label>
      <div class="controls">
          <input name="age" id="age" type="text" value="" placeholder="Age" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Race</label>
      <div class="controls">
          <input name="race" id="race" type="text" value="" placeholder="Race" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
